{% extends "layout.html" %}
{%block content%}

<h2>Käyttäjien hallinta</h2>
<p>
{% if session.user_id %}

{% if session.user_admin_rights %}

{% if how_many_users > 0 %}

<p>Ylläpitäjänä voit ylentää muita peruskäyttäjiä ylläpitäjiksi ja poistaa bongauksia. 
<br>Valitse käyttäjä listasta:</p>

<form action="/accounts" method="POST">
<select type="text" name="user">
    {% for user in list %}
    <option value= {{ user.id }}> {{ user.name }} </option>
    {% endfor %}
</select>

<input type="submit" value="Ylennä">
</form>

{% else %}

<p>Ei ylennettäviä käyttäjiä.</p>

{% endif %}

{% if len_sightings > 0 %}

<form action="/remove" method="POST">

    <p>Valitse bongaus:<br>
    <select type="text" name="species">
        {% for sighting in all_sightings %}
        <option value= {{ sighting.id }}> {{ sighting.species }}, {{ sighting.location }}, {{ sighting.date }} </option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Poista">
    
</form>

{% else %}

<p>Ei bongauksia.</p>

{% endif %}

{% else %}

Et ole ylläpitäjä.

{% endif %}

{% else %}

Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>!

{% endif %}

{% endblock %}