{% extends "layout.html" %}
{%block content%}

    <h2>Tervetuloa lintubongaussovellukseen!</h2>
    <p>Lintubongausovelluksessa voit lisätä bongauksia bongaamistasi linnuista ja tarkastella muiden bongauksia.</p>

    {% if session.user_id %}

        Olet kirjautunut sisään nimellä <b>{{ session.user_name }}.</b>
        <p>
        <a href="/add"><b>Lisää bongaus</b></a><br>

        <p><b>Sinua kiinnostavat havainnot:</b></p>

        {% for sighting in followed %}

        {{ sighting.species }}, {{ sighting.location }}, {{ sighting.date}}
        <br>

        {% endfor %}

    {% else %}

        Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a> ja aloita bongaus!
        
    {% endif %}


    <p><b>Lintuja bongattu:</b> {{ all.all }}
    <br><b>Bongatuin lintu:</b> {{ most_common.species }}
    <br><b>Ahkerin lintubongari:</b> {{ user.name }}</p>

{% endblock %}