{% extends "layout.html" %}
{%block content%}

<h2>Profiili</h2>
<p>
{% if session.user_id %}
Käyttäjänimi: {{ session.user_name }}
<p>

{% if session.user_admin_rights %}

Oikeudet: Ylläpitäjä
<br>Hallitse käyttäjätunnuksia <a href="/accounts">tästä</a>.

{% else %}

Oikeudet: Peruskäyttäjä

{% endif %} 

<p>

{% if len_my_sightings > 0 %}

Bongaukset: <br>
{% for sighting in list %} 

{{ sighting.species }}, {{ sighting.location }}, {{ sighting.date }}
<br>

{% endfor %}

<form action="/profile" method="POST">

    <p>Valitse bongaus:<br>
    <select type="text" name="species">
        {% for sighting in list %}
        <option value= {{ sighting.id }}> {{ sighting.species }}, {{ sighting.location }}, {{ sighting.date }} </option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Poista">
    
</form>

{% else %}

Ei vielä bongauksia.

{% endif %}

<p>
<a href="/add">Lisää bongaus</a><br>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a> ja aloita bongaus!
{% endif %}

{% endblock %}