{% extends "layout.html" %}
{%block content%}

<h2>Profiili</h2>
<p>
{% if session.user_id %}
Käyttäjänimi: {{ session.user_name }}
<p>

{% if session.user_admin_rights %}

Oikeudet: Ylläpitäjä

{% else %}

Oikeudet: Peruskäyttäjä

{% endif %} 

<p>
Bongaukset: <br>
{% for sighting in list %} 

{{ sighting.species }}, {{ sighting.location }}, {{ sighting.date }}
<br>

{% endfor %} 

<p>
<a href="/add">Lisää bongaus</a><br>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a> ja aloita bongaus!
{% endif %}

{% endblock %}